.charts {
  padding: 0 10px;

  &__title {
    width: 100%;
    margin: 10px 0 15px 0;
    text-align: center;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
  }

  @media screen and (max-width: 1199px) {
    & {
      justify-content: center;
    }
  }
}

.chart {
  padding: 0 10px 20px 10px;
  width: 36%;
  box-sizing: border-box;

  &__title {
    text-align: center;
    margin: 15px 0;
  }

  &_bar {
    width: 64%;
  }

  @media screen and (max-width: 1399px) {
    & {
      width: 33%;

      &_bar {
        width: 67%;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    & {
      width: 60%;

      &_bar {
        width: 80%;
      }
    }
  }

  @media screen and (max-width: 991px) {
    & {
      width: 70%;

      &_bar {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    & {
      width: 100%;

      &_bar {
        width: 100%;
      }
    }
  }
}
