.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10px;

  &__title {
    width: 100%;
    margin: 10px 0 15px 0;
    text-align: center;
  }

  &__chart {
    padding: 0 10px 20px 10px;
    width: 23%;
    box-sizing: border-box;

    &_bar {
      width: 44%;
    }
  }

  @media screen and (max-width: 1399px) {
    &__chart {
      width: 33%;

      &_bar {
        width: 67%;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    & {
      justify-content: center;
    }

    &__chart {
      width: 60%;

      &_bar {
        width: 80%;
      }
    }
  }

  @media screen and (max-width: 991px) {
    &__chart {
      width: 100%;

      &_bar {
        width: 100%;
      }
    }
  }
}
