<div class="item-filters">
  <mat-form-field class="item-filters__filter item-filters__filter__title">
    <input matInput placeholder="Title" value="" [(ngModel)]="filterTitle">
  </mat-form-field>
  
  <mat-form-field class="item-filters__filter item-filters__filter__steps">
    <mat-select placeholder="Step" [(ngModel)]="filterSteps">
      <mat-option value="all">All</mat-option>
      <mat-option value="1">1 step</mat-option>
      <mat-option value="2">2 step</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field class="item-filters__filter item-filters__filter__brands">
    <mat-select placeholder="Brand" [(ngModel)]="filterBrands">
      <mat-option value="all">All</mat-option>
      <mat-option value="rcpro">RCPro</mat-option>
      <mat-option value="glenm">Glenm</mat-option>
      <mat-option value="s2trade">S2Trade</mat-option>
      <mat-option value="tradefw">TradeFW</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field class="item-filters__filter item-filters__lang">
    <mat-select placeholder="Lang" [(ngModel)]="filterLang">
      <mat-option value="all">All</mat-option>
      <mat-option value="en">en</mat-option>
      <mat-option value="es">es</mat-option>
      <mat-option value="it">it</mat-option>
      <mat-option value="ru">ru</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="item-actions">
    <button mat-button class="item-actions__btn item-actions__btn__push" (click)="push()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <button mat-button class="item-actions__btn item-actions__btn__fetch" (click)="fetch()">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button mat-button  class="item-actions__btn item-actions__btn__add" routerLink="/list/new">
      <mat-icon>playlist_add</mat-icon>
    </button>
  </div>
  
</div>

<div class="item-cards">
  <app-item *ngFor="let item of pagesData.list
    | filter:'title':filterTitle
    | filter:'steps':filterSteps
    | filter:'brand':filterBrands
    | filter:'lang':filterLang;
    let i = index;"
    [index]="i"
    [itemData]="item"
    class="item-cards__item">
  </app-item>
</div>