.item-details {
    display: flex;
    flex-flow: row wrap;

    > * {
      padding: 0 10px;
      width: 50%;
      box-sizing: border-box;
    }

    &__field {
      box-sizing: border-box;

      &__image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }

      &__title {
        width: 100%;

        > * {
          width: 100%;
        }
      }

      &__brand {
        width: 60%;
      }

      &__lang {
        width: 20%;
        padding-left: 10px;
      }

      &__steps {
        width: 20%;
        padding-left: 10px;
      }
    }
}