<mat-card>
  <form class="details" [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
    <div class="details__poster">
      <div class="poster-wrap" *ngIf="editedItem && detailsForm.value.image.length !== 0; else noImage">
        <img class="poster-wrap__img" src="{{detailsForm.value.image}}" alt="{{detailsForm.value.title}} Page Screenshot">
      </div>
      <ng-template #noImage>
        <div class="poster-wrap">
          <img class="poster-wrap__img" src="{{detailsForm.value.image}}" alt="No Image">
        </div>
      </ng-template>
      <input class="details__img-url" type="file" (change)="setImage($event)">
      <input hidden formControlName="image">
    </div>
    
    <div class="details__fields info">
      <mat-form-field class="info__field info__field_title">
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
  
      <mat-form-field class="info__field info__field_author">
        <input matInput placeholder="Author" formControlName="author">
      </mat-form-field>
  
      <mat-form-field class="info__field info__field_brand">
        <mat-select placeholder="Brand" formControlName="brand">
          <mat-option *ngFor="let brand of pageBrands" [value]="brand | lowercase">{{brand}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="info__field info__field_lang">
        <mat-select placeholder="Language" formControlName="lang">
          <mat-option *ngFor="let lang of pageLangs" [value]="lang">{{lang}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="info__field info__field_steps">
        <mat-select placeholder="Steps" formControlName="steps">
          <mat-option *ngFor="let step of pageSteps" [value]="step">{{step}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="info__field info__field_date">
        <input matInput [matDatepicker]="datePicker" placeholder="Date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker disabled="false"></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field class="info__field info__field_id">
        <input matInput placeholder="ID" formControlName="id">
      </mat-form-field>
  
      <mat-form-field class="info__field info__field_page-url">
        <input matInput placeholder="Page URL" formControlName="url">
      </mat-form-field>
  
      <a mat-button class="info__field info__field_page-link"
         href="{{detailsForm.get('url').value}}" target="_blank">
        <mat-icon>link</mat-icon>
      </a>
      
      <mat-form-field class="info__field info__field_task-url">
        <input matInput placeholder="Task URL" formControlName="taskUrl">
      </mat-form-field>
      
      <a mat-button class="info__field info__field_task-link"
         href="" target="_blank">
        <mat-icon>link</mat-icon>
      </a>
  
      <section class="info__field info__field_features" formGroupName="features">
        <mat-checkbox formControlName="bb">BB</mat-checkbox>
        <mat-checkbox formControlName="push">Push</mat-checkbox>
        <mat-checkbox formControlName="video">Video</mat-checkbox>
        <mat-checkbox formControlName="slider">Slider</mat-checkbox>
        <mat-checkbox formControlName="form">Form</mat-checkbox>
      </section>
      
      <mat-form-field class="info__field info__field_description">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </div>
    
    <div class="actions">
      <button
          mat-flat-button
          class="actions__btn actions__btn_save"
          type="submit">
        Save
      </button>
      <button
          *ngIf="!!editedItem"
          mat-flat-button
          class="actions__btn actions__btn_remove"
          type="button"
          (click)="remove()">
        Remove
      </button>
      <button
          mat-flat-button
          class="actions__btn actions__btn_cancel"
          type="button"
          routerLink="/list">
        Cancel
      </button>
    </div>
  </form>
</mat-card>
