<h1 class="title">Sign In</h1>
<form class="login" [formGroup]="loginForm" (ngSubmit)="logIn()">
	<mat-form-field class="field-wrap" appearance="outline">
		<mat-label>Enter your email</mat-label>
		<input
				class="field-wrap__input"
				matInput
				placeholder=""
				formControlName="email">
		<mat-error *ngIf="field.email.errors?.email && !field.email.errors?.required">
			Please enter a valid email address
		</mat-error>
		<mat-error *ngIf="field.email.errors?.required">
			Email is <strong>required</strong>
		</mat-error>
	</mat-form-field>
	
	<mat-form-field class="field-wrap" appearance="outline">
		<mat-label>Enter your password</mat-label>
		<input
				class="field-wrap__input"
				matInput
				placeholder=""
				formControlName="password"
				[type]="hide ? 'password' : 'text'">
		<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
		<mat-error class="field-wrap__err" *ngIf="field.password.errors?.minlength && !field.password.errors?.required">
			Password must be at least 4 characters long
		</mat-error>
		<mat-error class="field-wrap__err" *ngIf="field.password.errors?.required">
			Password is <strong>required</strong>
		</mat-error>
	</mat-form-field>
	
	<div class="actions">
		<button
				class="actions__btn actions__btn_submit"
				mat-raised-button
				color="primary"
				type="submit">SIGN IN</button>
		<b class="actions__devider">or</b>
		<a mat-stroked-button class="actions__link" routerLink="/auth/register">Register</a>
	</div>
</form>