.details {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  padding: 10px;

  &__title {
    margin: 0 0 15px 0;
  }
}

.form {
  max-width: 500px;

  &__field {
    padding-bottom: 15px;
    box-sizing: border-box;
    font-size: 14px;

    &_name, &_email {
      width: 50%;
      padding-right: 7px;
    }

    &_surname, &_phone {
      width: 50%;
      padding-left: 8px;
    }

    &_uid {
      width: 70%;
      padding-right: 7px;
    }

    &_issadmin {
      width: 30%;
      padding-left: 8px;
    }
  }
}

.actions {
  width: 100%;
  padding: 0 0 15px 0;
  text-align: center;

  &__btn {
    margin: 0 5px;
    font-size: 16px;

    &_register {
      background: #10a40d;
    }

    &_save {
      background: #009908;
    }

    &_edit {
      background: #6e00ff;
    }

    &_cancel {
      background: #dc005a;
    }
  }
}
