@import "../node_modules/normalize.css/normalize.css";

.snack-bar-msg {
  background: rgba(220,0,90,1);

  .mat-simple-snackbar {
    > span {
      color: white;
    }
  }

  .mat-button {
    color: white;
    background: rgba(105, 0, 0, .3);
  }
}
