<mat-card class="item">
  
  <div class="poster">
    <img class="poster__img" mat-card-image src="{{itemData.image}}" alt="{{itemData.title}} Page Screenshot">
  </div>
  
  <mat-card-content class="content">
    <h4 class="content__detail content__detail_title">{{itemData.title}}</h4>
    <h4 class="content__detail content__detail_brand">{{itemData.brand}}</h4>
    <h4 class="content__detail content__detail_lang">{{itemData.lang}}</h4>
    <h4 class="content__detail content__detail_steps">{{itemData.steps}}</h4>
    <h5 class="content__detail content__detail_features">
      <span *ngFor="let feature of itemData.features | keyvalue">
        {{feature.value ? feature.key + '; ' : ''}}
      </span>
    </h5>
    <h4 class="content__detail content__detail_date">{{itemData.date}}</h4>
  </mat-card-content>
  
  <mat-card-actions class="actions">
    <a mat-button class="actions__btn actions__btn_edit" (click)="editItem(index)">
      <mat-icon color="primary">edit</mat-icon>
    </a>
    <!--<a mat-button class="card-actions__btn card-actions__btn__remove">-->
      <!--<mat-icon color="warn">remove</mat-icon>-->
    <!--</a>-->
    <a mat-button class="actions__btn actions__btn_link" href="{{itemData.url}}" target="_blank">
      <mat-icon>link</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>