.item {
  margin: 10px;
  padding: 0;
}

.poster {
  max-height: 235px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 0;

  &__detail {
    margin: 0;
    padding-top: 5px;

    &_title {
      margin: 0;
      padding-bottom: 5px;
      text-align: center;
      width: 100%;
    }

    &_brand {
      width: 60%;
    }

    &_lang, &_steps {
      width: 20%;
      text-align: right;
    }
  }

  &_link {
    width: 100%;
    text-align: center;

    .mat-icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  .actions__btn {
    margin: 0;
    padding: 0;
    width: 33%;
  }
}