.info {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px;

  &__title {
    flex: 0 1 100%;
    padding: 0 10px;
    margin: 10px 0 15px 0;
    text-align: center;
  }

  &__actions {
    width: 100%;
    padding: 0 0 15px 0;
    text-align: center;
  }

  &__btn {
    margin: 0 5px;
    font-size: 16px;

    &_add {
      background: #10a40d;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
  padding: 10px 6px 10px 16px;
  box-sizing: border-box;
}

.content {
  margin: 0;
  overflow: hidden;

  &__title {
    margin: 0;
    line-height: 1.5;
  }

  &__link {
    padding: 0;
    min-width: 0;
    max-width: 100%;
    color: #10a40d;
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__details {
    margin: 0;
    line-height: 1.5;
  }
}

.actions {
  margin: 0;
  padding: 0;
  min-width: 100px;

  &.mat-card-actions {
    margin: 0;

    &:first-child, &:last-child {
      margin: 0;
    }
  }

  &__btn {
    padding: 0;
    margin: 0 5px;
    min-width: 42px;
  }
}
