<div class="info">
  <h1 class="info__title">Pages Info / Notes</h1>
  
  <div class="info__actions">
    <button
      *ngIf="isSAdmin"
      mat-flat-button
      class="info__btn info__btn_add"
      type="button"
      routerLink="/info/new">
      Add a new info
    </button>
  </div>
  
  <ng-container *ngFor="let item of (infoList$ | async); let i = index;">
    <mat-card class="item">
    
      <mat-card-content class="content">
      
        <h4 class="content__title">{{ item.name }}</h4>
        <h5 class="content__details" *ngIf="item.details">{{ item.details }}</h5>
        <a class="content__link" mat-button *ngIf="item.link">{{item.link}}</a>
      </mat-card-content>
    
      <mat-card-actions class="actions">
        <a mat-button class="actions__btn actions__btn_edit" (click)="editItem()">
          <mat-icon color="primary">edit</mat-icon>
        </a>
        <a mat-button class="actions__btn actions__btn_edit" (click)="removeItem(item['key'])">
          <mat-icon color="warn">remove</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </ng-container>

</div>
